on: [push]

jobs:
  hello_world_job:
    runs-on: ubuntu-latest
    name: Simple test example
    steps:
    - uses: actions/checkout@v2
    - id: test
      uses:  mvalarh/community-operators-action@v1
      with:
        test-type: 'orange'
        stream: 'upstream-community-operators'
        pr-labels: 'allow/operator-version-overwrite bug'
